{{extend 'layout.html'}}
        <h1>List Of event in da nang city</h1>
{{for i in list:}}
            <table>
            <tr>
                <td>Id of Member:</td>
                <td>Information:</td>
                <td>gmail:</td>
            </tr>
            <tr>
                <td>{{=i['member_id']}}</td>
                <td>{{=i['other_information']}}</td>
                <td>{{=i['gmail']}}</td>
                </tr>
        </table>
{{pass}}{{pass}}{{pass}}{{pass}}
{{block sidebar}} {{end}}
