
{{extend 'layout.html'}}
        <h1>List Of event in da nang city</h1>
{{for i in list:}}
            <table>
            <tr>
                <td>Id of event:</td>
                <td>Name of event:</td>
                <td>address:</td>
                <td>Time of event:</td>
                 <td>Action:</td>
            </tr>
            <tr>
                <td>{{=i['id']}}</td>
                <td>{{=i['event_name']}}</td>
                <td>{{=i['dia_diem']}}</td>
                <td>{{=i['thoi_gian']}}</td>
                </tr>
        </table>
{{pass}}{{pass}}{{pass}}{{pass}}
{{block sidebar}} {{end}}
